<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <title>Bird Net - Login</title>
    <link rel="stylesheet" href="static/css/bird.css">
</head>
<body>
<div class="title-container">
    <h1>Bird Net</h1>
    <span class="icon-container">
            <img src="../gaviaoo-removebg-preview%20(1).png" class="icon">
        </span>
</div>

<div class="login-container">
    <h2>Login</h2>
    <form>
        <input type="text" placeholder="Email" required>
        <input type="password" placeholder="Senha" required>
        <button type="submit">Entrar</button>
    </form>
    <div class="signup">
        <button type="button">Cadastrar</button>
    </div>
    <div class="forgot-password">
        <a href="#">Esqueci a senha</a>
    </div>
</div>
</body>
</html>
